
<div class = "row"></div>
  <div class= "col-md-12">
    <%= form_for(@product, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :name, "Enter product" %>
        </div>
        <div class= "col-md-8">
          <%= f.text_field :name, class: "form-control", placeholder: "Enter your product name", autofocus: true %>
        </div>
      </div> 
      <div class = "form-group">
          <div class ="control-label col-md-2">
        </div>
        <div class= "col-md-8">
          <label class="btn btn-primary">
            Upload a image file <%= f.file_field :image, style: 'display:none;', class: "btn btn-primary btn-lg btn-xlarge"%>
          </label>
        </div>    
      </div> 

      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :description, "Enter description" %>
        </div>
        <div class= "col-md-8">
          <%= f.text_field :description, class: "form-control", placeholder: "Enter your product description", autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :price, "Enter price" %>
        </div>
        <div class= "col-md-8">
          <%= f.text_field :price, class: "form-control", placeholder: "Enter the price", autofocus: true %>
        </div>

        <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :inventory, "Enter inventory " %>
        </div>
        <div class= "col-md-8">
          <%= f.text_field :inventory, class: "form-control", placeholder: " Enter available products", autofocus: true %>
        </div>
      </div>

       <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :catagory, "Enter inventory " %>
        </div>
        <div class= "col-md-8">

          <%= f.fields_for :catagories do |catagory_form| %>
          <% render 'products/catagory_fields', f: catagory_form %>
          <% end %>
        </div>
      </div>
      <div>
        <%= link_to_add_association 'Add Catagory', f, :catagories%>
      </div>

      <div class= "form-group">
        <div class="col-md-offset-2 col-md-10">
          <%= f.submit(@product.new_record? ? "Create product" : "Update my products", 
              class: "btn btn-primary btn-lg btn-xlarge") %>
        </div> 
      </div>  
    <% end %>
  </div>  
</div>