<nav class="navbar navbar-toggleable-md ">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to "Nuthin But Soap", root_path, class: "navbar-brand" , style: 'color: black'%>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
       <%= link_to "Home", root_path, class: "nav-link" , style: 'color: black'%>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          On Sale
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Discount Items</a>
          <a class="dropdown-item" href="#">Price: High to Low</a>
          <a class="dropdown-item" href="#">Price: Low to High</a>
        </div>
      </li>


      <li class="nav-item">
        <%= link_to "New Product", new_product_path, class: "nav-link" , style: 'color: black'%>
      </li>
      <li class="nav-item">
        <%= login_helper 'nav-link'%>
      </li>
    </ul>
    <%= form_tag products_path, method: :get, class: "form-inline my-2 my-lg-0", role: "search" do %>
      <%=text_field_tag :search, params[:search], class: "form-control mr-sm-2" %>
      <%= submit_tag "Search", name: nil, class: "btn btn-outline-success my-2 my-sm-0" %>
    <%end%>
  </div>
</nav>